@use 'tailwindcss';
@use 'styles/tokens';
@use 'styles/layout';
@use 'styles/utilities';

html,
body {
  height: 100%;
}

body {
  color-scheme: light;
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  font: var(--font-body);
  margin: 0;
}

.material-icons {
  font-size: 20px;
  line-height: 1;
  vertical-align: middle;
}
