mat-form-field {
  width: 100%;
}

.precio-venta-field {
  width: var(--size-price-field-width) !important;
  max-width: 100%;
}

.precio-venta-field .mat-mdc-form-field-hint-wrapper {
  display: flex;
  justify-content: center;
  white-space: nowrap;
  text-align: center;
}
